<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
<!--  font-->
  <link href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap"
        rel="stylesheet">
<!--  style sheet-->
  <link th:href="@{/css/styles.css}" rel = "stylesheet"/>
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Task Manager</title>
</head>

<body layout:fragment="body">

</body>
</html>